/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: auto;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--color);
  font-size: var(--font-size-text);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: var(--color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--color);
  padding-bottom: 1px;
}

.link:focus-visible {
  border: 1px solid var(--color);
  border-radius: 0;
  padding: 3px;
}

.header {
  min-height: 668px;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  margin-top: 30%;
  margin-right: 10%;
  margin-inline-start: auto;
  justify-self: start;
  align-self: start; /* прижимаем к верху */
  grid-column: 3/4;
  grid-row: 1;
}

@media (min-width: 768px) {
  .header__theme-menu {
    margin-top: 20px;
    margin-right: 2%;
  }
}

.header__theme-menu-list {
  margin-left: 35px; /*думать*/
  margin-top: 35px;
  list-style: none;
  width: 70px; /*указано строго, т.к. меняется только для комп. макета*/
  height: 98px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.63em;
}

.header__theme-menu-item {
  min-width: 70px;
  text-align: center;
}

.header__theme-menu-button {
  width: 70px;
  text-align: center;
  text-transform: lowercase;
  border: none;
  background-color: transparent;
  font-size: var(--font-size-text);
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-alpha);
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom: 1px solid var(--button-color)
}

.decorative-element {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 55px;
  height: 26px;
  color: var(--accent-color, #FF0070);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.decorative-element::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 5px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
}

.corner-decoration {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  z-index: 1;
}

.corner-decoration-end {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  z-index: 1;
}

@media (min-width: 768px) {
  .corner-decoration {
    top: 20px;
    right: 20px;
  }
}

.header-title {
  padding: 10px 10px 25px 10px;
  margin: auto;
  max-height: 192px;
  grid-column: 1 / -1;
  grid-row: 2;
  justify-self: center;
  align-self: center; /* выравнивание по центру */
  text-align: left;
  color: var(--h1-color);
  font-size: var(--h1-size-mobile);
  font-weight: var(--font-weight-bold);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: var(--h1-line-height);
  letter-spacing: var(--letter-spacing-none);
}

@media (max-width: 767px) {
  /* Мобильные */
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.preface {
  max-height: 117px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.75em;
  width: calc(100vw - 20px);
  grid-row: 3/-2;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-self: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--h3-color);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-bold);
}

.preface p {
  padding: 0px;  /*на войне все средства хороши...*/
  margin: 0px;
}

/* Заголовок сайта и подводка */
@media (width >= 768px) {
  .header {
    grid-template-columns: auto 20px auto auto;
    grid-template-rows: 2fr 1fr 2fr;
    box-sizing: border-box;
  }

  .header-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    line-height: 83%;
    grid-row: 2;
  }
  
  .preface {
    margin-left: 10%;
    margin-bottom: 4em;
    max-width: 364px;
    grid-column: 4;
    grid-row: 3;
  }

  .header__theme-menu {
    margin-top: 45px;
    grid-row: 1;
    grid-column: 4;
  }

  .header__theme-menu-list {
    margin-top: 160%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .decorative-element {
    position: absolute;
    top: 20px;
    right: 25px;
  }

  .corner-decoration {
    right: 20px;
    top: 20px;
  }

  .corner-decoration-end {
    left: 20px;
    bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-title {
    min-width: 759px;
  }

  .header__theme-menu {
    min-width: 230px;
    margin-top: 0;
    margin-right: 2px;
    grid-row: 1;
    grid-column: 2/3;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 0.5em;
    padding-right: 0em;
    padding-left: 3em;
    padding-bottom: 2.3em;
  }

  .header__theme-menu-item {
    margin-top: 5px;
    padding: 0;
  }

  .preface {
    align-items: start;
    padding: 0;
    margin-left: 25%;
    margin-top: 6%;
    min-width: 491px;
    width: clamp(491px, 491px, 600px);
    grid-column: 2/4;
  }
}

.main {
  margin: 0 auto;
  padding-top: 0.5em;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--bg-color);
}

.main-item {
  margin-top: 1em;
  grid-column: 1/2;
  
}

.card-title {
  margin-top: 10px;
  margin-bottom: 1.2em;
  margin-left: 0.5em;
  padding-right: 1em;
  text-align: left;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
}

.card-content {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.card-introductory {
  margin-bottom: 0.5em;
  margin-right: 5px;
  background-color: var(--h3-bg-color);
  color: var(--h3-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
}

.card-point {
  margin: 1em 5px 0.45em 0;
  font-weight: var(--font-weight-normal);
  line-height: var(--h4-line-height);
  background-color: var(--accent-color);
  color: #000028;
  letter-spacing: 0;
}

.card-text {
  margin: 0 10px 1.2em 0px;
  line-height: var(--text-line-height);
}

.gallery {
  margin-top: 3em;
  margin-bottom: 7%;
  margin-left: 0.4em;
  margin-right: 0.3em;
  display: flex;
  flex-direction: column;
}

.gallery-introductory {
  margin-right: 10px;
  margin-bottom: 0.5em;
  background-color: var(--h3-bg-color);
  color: var(--h3-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
}

.gallery__image {
  padding-right: 10px;
  margin-bottom: 8px;
  width: 100%; /* Занимает всю ширину ячейки */
  object-fit: cover; /* Обрезает изображение для заполнения контейнера */
}

/* Мейн сайта и все, что с ним связано */
@media (width >= 768px) {

  .main-item {
    display: grid;
    grid-template-columns: minmax(236px, 315px) minmax(472px, 648px);
    padding-left: 10px;
    padding-right: 10px;
  }

  .card-title {
    padding-top: 8.3%;
    padding-right: 0;
    width: clamp(236px, 235px, 315px);
    grid-column: 1/2;
  }

  .main-item:nth-of-type(2n) .card-title {
    padding-top: 12%;
    margin-bottom: 1em;
  }

  .card-content {
    padding-top: 6.75%;
    padding-left: 0px;
    grid-column: 2/3;
  }

  .main-item:nth-of-type(2n) .card-content {
    grid-column: 1/3;
    padding-top: 0%;
    padding-left: 0;
    margin-bottom: 0.5em;
  }

  .card-introductory {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .card-text {
    margin-bottom: 1.2em;
    margin-right: 0;
  }

  .card-point {
    margin-top: 1.2em;
    margin-right: 0;
  }

  .gallery {
    margin-top: 3.2em;
    margin-right: 0;
    margin-bottom: 7.5%;
    grid-column: 1/3;
    padding-right: 10px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "sunset sunset ice_cream"
    "video book ice_cream"
    "video street street";
    grid-auto-flow: dense;
    gap: 20px;
  }

  .gallery__image {
    padding: 0;
    margin: 0;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(1) {
    grid-area: sunset;
  
  }

  .gallery__image:nth-child(2) {
    grid-area: ice_cream;
  }

  .gallery__image:nth-child(3) {
    grid-area: video;
  }

  .gallery__image:nth-child(4) {
    grid-area: book;
}

  .gallery__image:nth-child(5) {
    grid-area: street;
  }

  .gallery-introductory {
    margin-bottom: 1.1em;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .main-item {
    padding-right: 0;
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-title {
    padding-top: 7%;
    padding-left: 2.5%;
    min-width: 315px;
  }

  .main-item:nth-of-type(2n) .card-title {
    padding-top: 10%;
    margin-bottom: 1em;
  }

  .card-content {
    padding-top: 4.6%;
    padding-left: 0.5%;
    padding-right: 1.5%;
    grid-column: 2/4;
  }

  .main-item:nth-of-type(2n) .card-content {
    grid-column: 1/4;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 1%;
    margin-bottom: 0.5em;
    display: flex;
    gap: 20px;
  }

  .main-item:nth-of-type(2n) .text-content {
    min-width: 315px;
  }

  .gallery {
    grid-column: 1/4;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 6%;
  }
}

/* Подвал сайта и все, что с ним связано */

.footer {
  background-color: var(--bg-color);
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-footer {
  text-align: center;
  color: var(--h1-color);
  font-size: var(--h1-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: var(--h1-line-height);
  letter-spacing: var(--letter-spacing-none);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (max-width: 767px) {
  .footer {
    min-height: 668px;
  }
}

@media (width >= 768px) {
  .footer {
    min-height: 1024px;
  }
  .title-footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .footer {
    margin: 0px;
    min-height: 768px;
  }
}