/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --font-size-text: 18px;
  --text-line-height: 23.4px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bg-color: #000028;
  --color: #F1B2CE;
  --letter-spacing-none: 0px;
  --bg-image: url(../images/cover-image-dark.png);
  --title-size-mobile: 116px;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --accent-color-alpha: rgb(255, 0, 111, 0.4);
  --intoductory-bg-color: #FF0070;
  --hintoductory-color: #000028;
  --title-line-height: 83%;
  --intoductory-line-height: 23.4px;
  --card-point-line-height: 23.4px;
}