/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", monospace;
  --font-size-text: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --bg-color: #000028;
  --color: #F1B2CE;
  --letter-spacing-none: 0px;
  --bg-image: url(../images/cover-image-dark.png);
  --h1-size: 116px;
  --h1-color: #DB00FF;
  --accent-color: #FF0070;
  --h3-bg-color: #FF0070;
  --h3-color: #000028;
  --h1-line-height: 83%;
  --h3-line-height: 23.4px;
  --h4-line-height: 23.4px;
}
